.info-wrapper {
    width: 600px;
    margin: 70px auto;
}

.info-wrapper h2 {
    color: #7ed321;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.info-wrapper p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: grey;
    margin-bottom: 40px;
}
