header {
    height: 115px;
    background: #7ed321;
}

header .logo-icon {
    display: inline-block;
    margin: 30px 40px;
}

header .logo-icon img {
    width: 145px;
}

.nav-list {
    float: right;
    margin: 35px 0;
}

.nav-list .bar-icon {
    display: none;
    background: transparent;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

.nav-list ul {
    margin: 0;
}

.nav-list ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.nav-list ul li a {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-list ul li a:hover {
    border-bottom: 2px solid white;
}

.nav-list .logout-icon:hover {
    border-bottom: 0;
    background: url('../../images/logout_icon_active.png') 0 0 no-repeat;
}

.nav-list .logout-icon {
    display: inline-block;
    background: url('../../images/logout_icon.png') 8px 9px no-repeat;
    width: 40px;
    height: 40px;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 700px) {
    .nav-list .bar-icon {
        display: inline-block;
    }

    .nav-list ul {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}
