.jog-form-wrapper {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
}

.jog-form-wrapper .jog-form {
    background: #7ed321;
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 500px;
}

.jog-form-wrapper .jog-form .cross-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.jog-form form {
    margin: 30px;
}

.jog-form form > div {
    margin-bottom: 20px;
}

.jog-form form label {
    display: inline-block;
    font-family: Roboto, sans-serif;
    text-align: left;
    width: 90px;
}

.jog-form form input {
    border-radius: 7px;
    border: 1px solid grey;
    font-family: Roboto, sans-serif;
    padding: 5px 10px;
    width: 230px;
}

.jog-form form .submit-btn {
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    transition: .3s background, .3s color;
    padding: 15px;
    margin-top: 20px;
    width: 320px;
}

.jog-form form .submit-btn:hover {
    color: #7ed321;
    background: white;
}

@media only screen and (max-width: 700px) {
    .jog-form-wrapper .jog-form {
        width: 70%;
    }

    .jog-form form input {
        width: 60%;
    }

    .jog-form form .submit-btn {
        width: 90%;
    }
}

@media only screen and (max-width: 520px) {
    .jog-form form label {
        width: 100%;
    }

    .jog-form form input {
        width: 100%;
    }
}
