.login-wrapper {
    background: #e990f9;
    border-radius: 20px;
    margin: 50px auto;
    padding: 70px;
    text-align: center;
    width: 500px;
}

.login-wrapper img {
    width: 160px;
    height: 150px;
    margin: 0 auto 70px;
    display: block;
}

.login-wrapper button {
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    padding: 15px 30px;
    transition: .3s background, .3s color;
}

.login-wrapper button:hover {
    background: white;
    color: #e990f9;
    cursor: pointer;
}
