.jogs-wrapper {
    width: 600px;
    margin: 0 auto;
}

.jogs-wrapper .add-btn {
    background: transparent;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.jogs-wrapper .add-btn:hover img {
    transform: scale(1.1);
}

.jogs-wrapper .add-btn img {
    width: 60px;
    height: 60px;
    transition: .3s transform;
}

@media only screen and (max-width: 700px) {
    .jogs-wrapper {
        width: 80%;
    }
}
